* {
    margin: 0;
    box-sizing: border-box;
}
body {
    padding: 0 200px;
    font-family: 'Roboto Slab', serif;
}

a {
    text-decoration: none;
    color: inherit;
}

.header {
    width: 100%;
}

.navigation {
    position: relative;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.navigation::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -15px;
    height: 2px;
    background: linear-gradient(90deg, rgba(69,104,220,1) 0%,rgba(176,106,179,1) 60%,rgba(176,106,179,1) 100%);
}

.header-logo {
    position: relative;
    font-family: 'Poor Story', cursive;
    font-size: 60px;
    color: rgba(176,106,179,1);
    line-height:40px;
}

.logo-sub {
    display: block;
    font-size: 25px;
    text-align: center;
    line-height:0;
    color: black;
}

.icon-color {
    font-size: 40px;
    background: linear-gradient(90deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor:pointer;
}

.icon-color:hover {
    animation: bag-animation 0.5s ;
}

@keyframes bag-animation {
    0% {
        transform: translateY(0px)
    }

    25% {
        transform: translateY(-10px)
    }

    55% {
        transform: translateY(0px)
    }
    75% {
        transform: translateY(-5px)
    }

    100% {
        transform: translateY(0px);
    }
}
.nav-list {
    padding:0;
}

.nav-item {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 20px;
    padding: 0 10px;
    cursor: pointer;
    margin: 0 30px;
    position: relative;
    overflow: hidden;
}

.nav-item::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background: linear-gradient(90deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
    opacity: 0;
}

.nav-item:hover::before {
    animation: nav-animation 0.4s forwards;
}

.nav-item:hover {
    color: white;
}

.logo-link {
    cursor: pointer;
}

@keyframes nav-animation {
    0% {
        transform: translateX(-101%);
        opacity: 0;
    }
    100%{
        transform: translateX(0);
        opacity: 1;
    }
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.bg-img {
    width: 40%;
}

.header-title {
    font-size: 100px;
    cursor: default;
}

.color-gradient {
    background: linear-gradient(90deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 60% ,rgba(176,106,179,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    display: block;
    text-align: center;
}

.books-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.main-title {
    font-size: 30px;
    color: #777777;
    margin: 40px 0 20px 0;
    font-weight: 400;
}

.book-wrapper {
    border: 1px solid #ccc;
    padding: 20px 30px;
    width: 17%;
    height: 470px;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.book-img {
    width: 100%;
}

.author-name {
    color: #777777;
    font-weight: 400;
}

.book-tile {
    width: 100%;
}

.description-btn {
    border: none;
    background: linear-gradient(90deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 60% ,rgba(176,106,179,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Roboto Slab", sans-serif;
    padding: 0;
    display: block;
}

.description-btn:hover {
    opacity: 0.7;
}

.description-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 700px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    display: none;
    z-index: 1;
}

.active-description {
    display: block;
}

.close-btn{
    border: none;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    transition: 0.3s;
}

.close-icon {
    font-size: 25px;
    background: linear-gradient(90deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 60% ,rgba(176,106,179,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.close-btn:hover {
    opacity: 0.7;
}

.modal-window {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.modal-window-active {
    display: block;
}

.price-buy-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-self: flex-end;
    margin-top: auto;
}

.price {
    font-weight: 700;
    font-size: 20px;
}

.price::before {
    content: '$';
    display: inline-block;
    margin-right: 3px;
}

.buy-btn{
    border:none;
    background: linear-gradient(90deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
    font-size: 14px;
    color: white;
    padding: 5px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    font-family: "Roboto Slab", sans-serif;
}

.buy-btn:hover {
    opacity: 0.7;
}


.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    background: linear-gradient(90deg, rgba(69,104,220,1) 0%,rgba(176,106,179,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.5s;
}

.fa-solid.fa-arrow-left {
    left: -50px;
}

.fa-solid.fa-arrow-right {
    right: -50px;
}

.fa-arrow-right:hover, .fa-arrow-left:hover {
    opacity: 0.7;
}

.about-us {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.about-title {
    flex-basis: 100%;
    margin-bottom: 0;
}

.content-wrapper {
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    letter-spacing: 1px;
}

.content-wrapper::before {
    content: "";
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 200px;
    background: linear-gradient(50deg, rgba(69,104,220,1) 0%,rgba(176,106,179,1) 100%);
}

.content-wrapper::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
    width: 400px;
    height: 2px;
    background: linear-gradient(50deg, rgba(69,104,220,1) 0%,rgba(176,106,179,1) 100%);
}

.about-img {
    width: 45%;
}

.footer {
    position: relative;
    width: 100%;
    margin-top: 20px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.footer::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    height: 2px;
    background: linear-gradient(90deg, rgba(69,104,220,1) 0%,rgba(176,106,179,1) 60%,rgba(176,106,179,1) 100%);
}

.social-wrapper {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.fa-brands.fa-facebook-f,
.fa-brands.fa-instagram,
.fa-brands.fa-twitter{
    content: '';
    width: 35px;
    height: 35px;
    color: white;
    text-align: center;
    font-size:20px;
    line-height: 35px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgba(69,104,220,1) 0%, rgba(176,106,179,1) 100%);
    cursor:pointer;
}

.fa-brands:hover {
    animation: social-an 0.5s;

}

@keyframes social-an {
    0% {
        transform: translateY(0px)
    }

    25% {
        transform: translateY(-10px)
    }

    55% {
        transform: translateY(0px)
    }
    75% {
        transform: translateY(-5px)
    }

    100% {
        transform: translateY(0px);
    }
}

.copyright {
    font-weight: 300;
    font-size: 16px;
}

@media (max-width: 1800px) {
    .header-title {
        font-size: 80px;
    }

    .book-wrapper {
        width: 20%;
        height: 500px;
    }

    .book-wrapper:last-child {
        display: none;
    }
}

@media (max-width: 1500px) {
    .header-title {
        font-size: 60px;
    }

    .book-wrapper {
        width: 30%;
        height: 550px;
    }

    .book-wrapper:nth-last-child(2) {
        display: none;
    }
}

@media (max-width: 1300px) {
    .header-title {
        font-size: 50px;
    }
    .book-wrapper {
        height: 480px;
    }
}

